<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<add key="localhost.Service" value="http://localhost:1047/MyELibwebservice/Service.asmx" />
	</appSettings>
	<connectionStrings>
    <add name="MyELibConnectionString" connectionString="Data Source=HAWAMULLA;Initial Catalog=MyELib;Persist Security Info=True;User ID=sa;" providerName="System.Data.SqlClient" />
  <add name="MyELibConnectionString1" connectionString="Data Source=HAWAMULLA;Initial Catalog=MyELib;Persist Security Info=True;User ID=sa;Password=hawa4frnds" providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /></assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<webServices>
			<protocols>
				<add name="Documentation" />
				<add name="HttpPost" />
				<add name="HttpGet" />
				<add name="HttpSoap" />
				<add name="HttpPostLocalhost" />
			</protocols>
		</webServices>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" /></system.web>

  <system.webServer>
    <directoryBrowse enabled="false" />
    <security>
      <requestFiltering allowDoubleEscaping="true">
      </requestFiltering>
    </security>


  </system.webServer>

  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
