<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myelib"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
 	<uses-permission android:name="android.permission.INTERNET"/>
    <application android:name="com.example.myelib.Global_Application" android:icon="@drawable/myelibicon" android:label="@string/app_name">
        <activity
            android:name="com.example.myelib.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ApplicationTabPage"></activity>
        <activity android:name=".HomeActivity"></activity>
        <activity android:name=".SendEmailActivity"></activity>
        <activity android:name=".EbookActivity"></activity>
        <activity android:name=".BookDetailsActivity"></activity>
        <activity android:name=".LoginBarCode"></activity>
        <activity android:name=".LoginLibNo"></activity>
        <activity android:name=".IssuedBookDetailsActivity"></activity>
        <activity android:name=".SearchedBookDetailsActivity"></activity>
        <activity android:name=".SearchActivity"></activity>
        
        <service android:name="MyService"></service>
    </application>
  
</manifest>